@use "./assets/css/variables";
@use "./assets/css/mixins";

.App {
  h1 {
    text-align: center;
    color: variables.$font-color;
  }

  form {
    text-align: center;
    padding: 20px 0;

    input:focus {
      outline: none;
    }
  }
}

main {
  @include mixins.flex(row, center, center);
}
